@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* head styles */
.head-content{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    font-family: "Open Sans", sans-serif;   
}
.btn{
    background-color:#ffffff;
    font-weight: bold;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    color: #1c1c1c;
    padding: 21px 18px 21px 18px;
    border-radius: 10px;
    border: 1px solid #6e6e6e;
}

/* banner styles */
.container{
    width: 100%;
}
.banner-container{
    display: flex;
    justify-content: center;
    position:relative;
    width: 100%;
}
.text-container{
    position: absolute;
    font-size: 50px;
    font-family:"Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    top: 8%;
    left: 18%;
}
.sub-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 80px;
}
.btn-2{
    background: rgb(13, 19, 33);
    font-weight: bold;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    padding: 21px 24px 21px 24px;
    border-radius: 10px;
    border: 1px solid #6e6e6e;
}
/* devoloper styles */
.dev-container {
    margin: 100px 350px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.devoloper-content{
    margin-top: 155px;
    margin-bottom: 85px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 26px;
}
.devoloper-container{
    display: flex;
    justify-content: center;
    gap: 18%;
    margin-bottom: 128px;
    margin-top: 10%;
}
.title-1 {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    color: rgba(13, 19, 33, 0.7);
}
.title-2 {
    font-weight: 500;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 35px;
}
.btn-3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 25px;
    background: white;
    color: rgba(13, 19, 33, 0.7);
}
.devoloper-container2 {
    display: flex;
    justify-content: center;
}
.text2 {
    float: right;
    padding-left: 115px;
    margin-bottom: 38px;
}
.container1 {
    margin: 0 15%;
    background: white;
}
.container2 {
    margin: 0 15%;
    background: white;
}
.video-container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 32px;
}
.sub-title-2{
    font-size: 24px;
    font-family: 'Open Sans';
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 10%;
}
.video-frame {
    box-sizing: border-box;
    border: solid 1px rgba(13, 19, 33, 0.7);
    border-radius: 16px; 
    padding: 30px;
    
}
iframe {
        border-radius: 16px;
}
.target-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 26px;
    font-family: 'Open Sans';
    margin-top: -5%;
}
.skills-container {
    background: rgba(255, 76, 30, 0.05);
    padding: 40px 55px;
    line-height: 10px;
    color: black;
}
.skills-container-2 {
    background: rgba(0, 76, 232, 0.05);
    padding: 40px 55px;
    line-height: 10px;
    color: black;
}
.skills-container-3 {
    background: rgba(255, 223, 0, 0.05);
    padding: 40px 55px;
    line-height: 10px;
    color: black;
}
.skills a {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.text-target {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 26px;
    margin: 10%;
}
